.app-header {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 var(--space-4);
  border-bottom: 1px solid var(--border-color);
  background: var(--color-neutral-0);
}

.app-wordmark {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
  color: var(--color-neutral-600);
  font-weight: 400;
}

main {
  padding: var(--space-4);
}
